body, .navbar .nav-link {
  font-family: 'Lora', sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .footer-section h3 {
  font-family: 'Lora', sans-serif;
}

.navbar-custom {
  background-color: #000 !important; 
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
  color: #ffffff !important; 
  gap: 100px;
  margin: 0 50px;
}

.navbar-custom .nav-link:hover {
  color: #grey !important;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin: 10px;
}

.inf-business {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  text-align: justify;
  padding: 40px;
  color: white;
}

.text-one {
  flex: 1; 
  padding-right: 20px; 
}

.imagen {
  flex: 1;
}

.imagen img {
  width: 100%; 
  height: auto; 
  border-radius: 20px;
  border-color: #9b7806;
}

.business-valors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000;
  color: white;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.seccion {
  border: 1px solid #9b7806;
  padding: 20px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.seccion h2 {
  margin-bottom: 15px;
  color: #ffffff;
}

.servicios {
  text-align: center;
  padding: 50px 0;
}

.titulo-servicios {
  margin-bottom: 50px;
  font-size: 2em;
}

.contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servicio {
  flex-basis: 30%; 
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
}

.imagen-servicio {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.productos {
  text-align: center;
  padding: 50px 0;
}

.titulo-productos {
  margin-bottom: 50px;
  font-size: 2em;
}

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  flex-basis: 30%; 
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
}

.imagen-producto {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contacto {
  background-color: #f9f9f9; 
  padding: 40px; 
  margin: 20px 0; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.contacto h2 {
  color: #333; 
  margin-bottom: 20px; 
}

.contacto h3 {
  margin-top: 20px; 
  color: #666; 
}

.contacto p {
  color: #555; 
}

.contacto form {
  margin-top: 20px; 
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto textarea {
  width: 100%; 
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.contacto button {
  background-color: #0056b3;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

.contacto button:hover {
  background-color: #004494; 
}

.contenedor-redes {
  display: flex;
  justify-content: center; 
  align-items: start; 
  padding: 20px;
  gap: 200px;
  background-color: #000;
}

.facebook-plugin, .instagram-plugin {
  width: 340px; 
}

#map {
  width: 100%; 
  height: 400px; 
  margin: auto; 
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9b7806;
  color: #fff;
  padding: 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 150px;
  text-align: center;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section a {
  margin: 0 10px;
}

.footer-section img {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .servicio, .producto, .certification {
    flex-basis: 45%; /* Ajusta para mostrar 2 elementos por fila */
  }

  .facebook-plugin, .instagram-plugin {
    width: 100%; /* Ajusta el ancho para ocupar el contenedor */
  }
}

/* Teléfonos móviles y dispositivos con un ancho de hasta 480px */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; /* Alinea elementos de la barra de navegación verticalmente */
  }

  .servicio, .producto, .certification, .facebook-plugin, .instagram-plugin {
    flex-basis: 100%; /* Cada elemento ocupa el ancho completo */
  }

  .social-icons a, .footer-section {
    margin: 10px 0; /* Aumenta el margen para una mejor visualización */
  }

  .contenedor-redes {
    flex-direction: column; /* Apila el contenido de las redes sociales verticalmente */
    gap: 20px;
  }

  .inf-business, .business-valors, .certifications-business, .contenedor-servicios, .contenedor-productos {
    flex-direction: column; /* Apila los elementos verticalmente */
  }

  .text-one, .imagen, .imagen img, .imagen-servicio, .imagen-producto {
    width: 100%; /* Asegura que las imágenes y los textos ocupen todo el ancho disponible */
  }
}